@import "tailwindcss";

@theme {
  --color-background: #0f0f13;
  --color-foreground: #ededed;
}

/* Hiệu ứng số xếp hạng rỗng ruột */
@utility text-outline {
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.3);
  color: transparent;
}

/* Đổ bóng sâu để số nổi bật hẳn lên trên Poster */
@utility number-shadow {
  text-shadow: 0 10px 30px rgba(0, 0, 0, 1), 0 0 20px rgba(0,0,0,0.8);
}

@utility scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #0f0f13;
  color: #ededed;
  user-select: none;
}

/* Cho phép card "nổi" lên trên mà không bị cắt */
section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  overflow: visible !important;
}
